<div class="home">
  <p>
    Event Storming is an exercise for the team to get together walking though the product to identify all command/events
    and define an ubiquitous language within the subdomain.
  </p>
  <p>
    Two main focus of event storming are
  </p>
  <ul>
    <li>Focus On Behavior</li>
    <li>Place Events on Timeline</li>
  </ul>
  <p>
    Participants, including business stakeholders, software engineers and other stakeholders or subject matter experts,
    get together to model the application with <b>Commands</b> and <b>Events</b> and put into a timeline.
  </p>
  <p>
    Key terms:
  </p>
  <ul>
    <li>Bounded Contexts
      <ul>
        <li>Consider human culture and interaction</li>
        <li>Changes in ubiquitous language</li>
        <li>Strongly separated bounded contexts will result in smooth workflows</li>
      </ul>
    </li>
    <li>Commands
      <ul>
        <li>Blue sticky note</li>
        <li>Represents a request to perform an action</li>
        <li>The action has not yet happened and i can be rejected</li>
        <li>Usually to a specific destinations</li>
        <li>Causes a change to the state of the domain</li>
      </ul>
    </li>
    <li>
      Events
      <ul>
        <li>Orange sticky note</li>
        <li>An action that happened in the past (past tense) that your domain experts care about</li>
        <li>The action could be a step in business process, something that happens on a scheduled basis, something
          meaningful that occurs as a result of something else happening.
        </li>
        <li>Since it’s already completed, they can’t be rejected</li>
        <li>Bostcast to many destinations</li>
        <li>Record a change to the state of the domain. Often the result of a command.</li>
      </ul>
    </li>
  </ul>
  <p>
    Only email with roche.com domain is allowed
  </p>
</div>
