.edit-doc {

  padding: 20px 60px;

  .page-content {

    .submit-button-container {
      justify-content: flex-end;

      .submit-button {
        width: 100%;
      }
    }

    .hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .image-container {
      width: 100%;
    }

    .input-style {
      width: 100%;
    }

    .mat-error {
      font-size: 12px;
    }
  }
}
