.page-container {
  display: grid;
  grid-template-columns: 60px auto;
  height: 100%;
  padding: 0px;

  .side-bar {
    background: #252223;

    .nav-link {
      color: #FFF;
      font-size: 28px;
    }
  }

  .content-container {
    .header {
      padding-left: 40px;
      font-size: 25px;
      font-weight: 800;
      font-style: normal;
    }

    margin-top: 30px;
  }
}
